body {
    background-color: #333333;
    color: #FFFFFF;
    font-size: 12px !important;
    font-family: 'helvetica';
}

p {
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #C2C2C2;
}

a:active {
    text-decoration: none;
    color: #FFFFFF;
}

#header {
    width: 538px;
    height: 55px;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 10px;
    margin: auto;
}

#main {
    width: 100%;
    text-align: center;
}

#footer {
    padding-top: 30px;
    width: 100%;
    font-family: 'helvetica';
    font-size: 10px;
    text-align: center;
}

#main-table {
    margin: 0 auto;
    text-align: left;
}

#main-table > tr > td {

    width: 80px;
    height: 100px;
}

.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 4px;
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    overflow: hidden;
}

.small-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 7px;
    margin-right: 15px;
    margin-top: 4px;
    border: 3px solid white;
    -webkit-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    -moz-box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    box-shadow: 0px 0px 15px rgba(3, 3, 3, 0.3);
    overflow: hidden;
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

.slick-dots li {
    width: 8px !important;
}